* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #151515;
    color: #fff;
    max-width: 1170px; 
    margin: 0 auto; 
}


.service-section {
    text-align: center;
    padding: 80px 0;
}
.service-title {
    font-size: 36px;
    margin: 0 0 20px;
}
.service-subtitle {
    font-size: 24px;
    margin: 0 0 10px;
}

.statistics{
    display: flex;
    gap: 100px;
    padding: 60px 0;
}

.statistics-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
}


.statistics-img img{
    max-width: 570px;
    border-radius: 12px;
}

.statistics-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.stats{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.statistics-texts h2{
    font-size: 36px;
}

.statistics-texts p{
    font-size: 18px;
}

.stat .stats-number{
    font-size: 36px;
    font-weight: bold;
}

.stats-types{
    font-size: 16px;
    margin-top: 5px;
    color: #939393;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
    padding: 80px 0;
}

.features {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 20px;
    color: white;
    padding: 60px 0;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 20px;
    padding: 20px; 
    border-radius: 10px; 
    flex: 1;
}

.feature img {
    width: 28px;
    height: 30px;
}

.feature-logo{
    width: 100%;
}

.feature-text h1 {
    font-size: 24px; 
    margin: 0; 
}

.feature-text p {
    font-size: 16px; 
    color: #939393;
    margin-top: 10px; 
    line-height: 1.6;
}

.logo-circle1 {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}


.feature-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    padding: 60px 20px; /* Sol ve sağ boşlukları azaltmak için */
}

.card1 {
    background-color: #1B1B1B;
    border-radius: 10px;
    padding: 20px;
    width: 100%; /* Kartın genişliğini tamamen dolduracak şekilde ayarlandı */
    max-width: 500px; /* Maksimum genişlik sınırı belirlendi */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid #282828;
    margin-bottom: 30px; /* Kartlar arası boşluk ekleniyor */
}

.card1:hover {
    transform: translateY(-10px);
}

.card1-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card1-subtitle {
    font-size: 14px;
    color: #777;
    margin: 0 0 10px;
}

.card1-title {
    font-size: 22px;
    margin: 0 0 10px;
}

.card1 p {
    font-size: 16px;
    color: #bbb;
    margin: 0 0 20px;
}

.shadow__btn {
    align-self: flex-start; /* Kart içindeki butonun sola yaslanması için */
    padding: 10px 20px;
    background-color: #6200EE;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Butonun üzerine gelince imlecin el işareti olmasını sağlar */
    border: none; /* Buton kenarlığı kaldırıldı */
}
.shadow__btn:hover {
    background-color: #3700B3;
}

.logo-circle {
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background-color: #4F46E5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.text-content h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.text-content p {
    margin: 0;
    font-size: 15px;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    background: #4F46E5;
    box-shadow: 0 0 25px #4F46E5;
    transition: box-shadow 0.5s;
}

.shadow__btn:hover {
    box-shadow: 0 0 5px #4F46E5,
                0 0 25px #4F46E5,
                0 0 50px #4F46E5,
                0 0 100px #4F46E5;
}
 @media screen and (max-width: 768px) {
    .service-title {
        font-size: 28px;
    }

    .service-subtitle {
        font-size: 20px;
    }

    .service-description {
        font-size: 14px;
    }
    .features {
        flex-direction: column;
        padding: 20px 0;
    }

    .feature {
        padding: 10px;
    }

    .feature img {
        margin-bottom: 10px;
    }

    .feature-text h1 {
        font-size: 20px;
    }

    .feature-text p {
        font-size: 14px; 
    }

    .logo-circle {
        width: 40px;
        height: 40px;
    }
    .feature-cards {
        flex-direction: column;
        align-items: center;
    }
    .feature-img {
        flex-direction: column;
        align-items: center;
        
    }

    .statistics{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .statistics-img img{
        width: 100%;
        padding: 10px 0;
    }

    .card {
        width: 90%;
    }
    .logo-circle {
        margin-bottom: 20px;
    }
    .col {
        flex-basis: 100%;
    }

    form input {
        width: 100%;
    }
    .button-36{
        width: 100%;
        padding: 0 2.6rem;
    }
}