*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonialcontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#151515;
}
.testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide p {
    text-align: center;
    padding: 0 100px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.slide details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name{
    font-size: 14px;
    font-weight: 600;
    color: white;
}
