
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #151515;
    font-family: Arial, sans-serif; 
    color: white;
}

.container {
    max-width: 1170px; 
    margin: 0 auto; 
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
}

.navbar a,
.navbar button {
    margin-left: 30px;
    color: white;
}

.navbar a {
    font-size: 16px;
}

.navbar button a {
    margin: 0;
}

.navbar button {
    border: none;
    border-radius: 6px;
    background-color: #4F46E5;
    padding: 12px 16px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #3b37c4; 
}

.about-us-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    color: white;
    font-size: 64px;
    width: 100%;
}



.about-us-hero img {
    width: 100%;
    max-height: 520px;
    border-radius: 12px;
}

.about-us-hero{
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 50px;
    padding: 60px 0;
}

.about-us-hero-texts {
    display: flex;
    
}

.about-us-hero-texts h2 {
    width: 100%;
    font-size: 36px;
}

.about-us-hero-texts p {
    font-size: 18px;
    margin: 0;
}


.statistics{
    display: flex;
    gap: 100px;
    padding: 80px 0;
}

.statistics-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 370px;
}


.statistics-img img{
    width: 570px;
    border-radius: 12px;
}

.statistics-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.stats{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.statistics-texts h2{
    font-size: 36px;
}

.statistics-texts p{
    font-size: 18px;
}

.stat .stats-number{
    font-size: 36px;
    font-weight: bold;
}

.stats-types{
    font-size: 16px;
    margin-top: 5px;
    color: #939393;
}

.join-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.join-us-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 470px;
}


.join-us-img img{
    max-width: 100%;
    border-radius: 12px;
}


.join-us-texts{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.join-us-texts h2{
    font-size: 36px;
}

.logo-circle-small {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-circle-small img{
    height: 12px;
    width: 12px;
}

.info{
    display: flex;
    gap: 10px;
}

.join-us-texts button{
    width: 165px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    background: #4F46E5;
    box-shadow: 0 0 10px #4F46E5;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

.join-us-texts a{
    text-decoration: none;
    color: white;
}



.join-us-texts button:hover{
    box-shadow: 0 0 5px #4F46E5,
    0 0 25px #4F46E5,
    0 0 50px #4F46E5,
    0 0 100px #4F46E5;
}

.about-us-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 80px 0;
}

.about-info-img{
    object-fit: cover;
    height: 575px;
    width: 100%;
}


.about-info-img img{
   width: 100%;
   border-radius: 12px;
   height: 100%;
}

.about-info-texts{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-header{
    font-size: 36px;
}

.block-p{
    font-size: 18px;
    line-height: 28.8px;
}

.team-photos-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr); 
}

.grid-photo{
    position: relative;
    width: 270px;
    height: 330px;
    overflow: hidden;
    background-color: #4F46E5;
}

.grid-photo img{
    width: 100%;
    height: 100%;
}

.block-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 80px 0;
}

.block{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.our-team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}
/* İstatistikler bölümü */
@media (max-width: 768px) {
    .statistics {
        flex-direction: column;
        gap: 60px;
        padding: 40px 0;
    }

    .statistics-img img {
        border-radius: 12px;
        width: 100%; /* İstatistik resminin genişliğini doldur */
        max-width: 570px; /* Maksimum genişlik ayarı */
    }

    .statistics-texts {
        text-align: center;
        gap: 20px;
    }

    .stats {
        justify-content: center;
    }
}

/* Katıl bize bölümü */
@media (max-width: 768px) {
    .join-us {
        flex-direction: column;
        text-align: center;
        gap: 40px;
        padding: 40px 0;
    }

    .join-us-img img {
        border-radius: 12px;
        width: 100%; /* Katıl bize resminin genişliğini doldur */
        max-width: 470px; /* Maksimum genişlik ayarı */
    }

    .join-us-texts {
        gap: 20px;
    }

    .join-us-texts button {
        width: 100%; /* Düğme genişliğini doldur */
    }
}

/* Hakkımızda bilgisi bölümü */
@media (max-width: 768px) {
    .about-us-info {
        gap: 40px;
        padding: 40px 0;
    }

    .about-info-img img {
        border-radius: 12px;
        width: 100%; /* Resmin genişliğini doldur */
        max-width: 570px; /* Maksimum genişlik ayarı */
    }
}

/* Ekibimiz bölümü */
@media (max-width: 768px) {
    .our-team {
        gap: 40px;
        padding: 40px 0;
    }

    .team-photos-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .grid-photo img {
        border-radius: 12px;
        width: 100%; /* Resmin genişliğini doldur */
        max-width: 270px; /* Maksimum genişlik ayarı */
    }
}

/* Diğer stiller aynı kalabilir */


.bookcall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1492px;
    padding: 60px 0;
}

.bookcalltext {
    display: flex;
    align-items: center;
    color: white;
}

.logo-circle-p {
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background-color: #4F46E5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.bookcallimg {
    width: 50px;
}

.text-content h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.text-content p {
    margin: 0;
    font-size: 15px;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    background: #4F46E5;
    box-shadow: 0 0 25px #4F46E5;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

.shadow__btn a{
    text-decoration: none;
    color: white;
}


.shadow__btn:hover {
    box-shadow: 0 0 5px #4F46E5,
                0 0 25px #4F46E5,
                0 0 50px #4F46E5,
                0 0 100px #4F46E5;
}

/* Responsive ayarlar */
@media (max-width: 768px) {
    .bookcall {
        flex-direction: column;
        text-align: center;
    }
    .bookcalltext {
        margin-bottom: 20px;
        flex-direction: column;
    }
    .logo-circle {
        margin-bottom: 20px;
    }
}


.footer {
    padding: 80px 0;
    background: #151515;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.row-footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.col {
    flex: 1;
    padding: 10px;
}

.col a {
    color: white;
}
.col h3 {
    margin-top: 10px;
    position: relative;
    font-size: 30px;
    margin-bottom: 10px;
}
.col p {
    margin-top: 20px;

}

.col i {
    margin-top: 30px;
}

.col .logo1{
    margin-left: 20px;
    
}
.col .col1p {
    margin-top: 40px;
    font-size: 20px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: none;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .col {
        flex-basis: 100%;
    }

    form input {
        width: 100%;
    }
    .button-36{
        width: 100%;
    }
    .about-us-hero img {
        padding: 25px;
    }
    .about-us-hero-texts {
        flex-direction: column; 
        align-items: center; 
        padding: 20px;
    }

    .about-us-hero-texts h2 {
       padding: 35px;
        margin-bottom: 20px; 
    
}
   
}

.button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .2s;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
        width: 100%;
    }
}
