
.counter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #151515;
    color: white;
}

.part {
   
    flex: 1;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box; 
}

h1 {
    font-size: 2em;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1em;
    
}

@media screen and (max-width: 768px) {
    .part {
        flex-basis: 100%; 
    }
}
