*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #151515;
    font-family: Arial, sans-serif; 
}

.container {
    max-width: 1492px; 
    margin: 0 auto; 
    padding: 0 100px; 
}

.features{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    color: white;
    padding: 40px 0;
}

.features-img, .features-text{
    flex: 1;
    padding: 20px;
}

.features-img img{
    width: 90%;
    height: auto;
    border-radius: 6%;
    object-fit: cover;
    animation: right-animation 0.5s  forwards;
}

.feature img{
    width: 28px;
    height: 30px;
}

.feature{
    display: flex;
    gap: 20px;
}

.features-text h1{
    font-size: 28px;
}

.features-text p{
    font-size: 20px;
    color: #939393;
    margin-top: 20px;
    width: 400px;
    line-height: 140%;
}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.feature:nth-child(1){
    animation: bottom-animation 0.5s  forwards;
}

.feature:nth-child(2){
    animation: bottom-animation 0.9s  forwards;
}

.feature:nth-child(3){
    animation: bottom-animation 1.3s  forwards;
}



.logo-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-feature{
    margin: 100px 0;
}

@keyframes bottom-animation {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes top-animation{
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes right-animation{
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media screen and (max-width: 768px) {
    .container{
        padding: 0 10px;
    }

    .features {
        flex-direction: column; 
        gap: 20px; 
        padding: 20px 0; 
    }

    .features-img,
    .features-text {
        width: 100%; 
        text-align: center; 
    }

    .features-img img {
        width: 100%; 
        border-radius: 6%; 
        animation: top-animation 0.5s forwards;
    }

    .feature {
        display: flex; 
    }

    .feature img {
        margin-bottom: 10px; 
    }

    .feature:nth-child(n) {
        animation: bottom-animation 0.5s forwards; 
    }

    .features-text h1 {
        font-size: 24px; 
    }

    .features-text p {
        font-size: 16px; 
        width: auto; 
    }

    .logo-circle {
        width: 40px; 
        height: 40px; 
}

.features-text{
    text-align: left;
}

  }

  @media screen and (max-width: 1024px) {
    .features-img{
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}