* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.services {
    font-family: "Mochiy Pop One";
    width: 100%;
    background-color: #151515;
}

.serviceAll {
    padding: 5% 8%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h1 {
    color: white;
    font-size: 30px;
    position: relative;
    
}

.service p {
    color: white;
}

.service h2 {
    color: white;
}

.cards {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.card {
    flex: 0 0 auto; 
    width: 300px; 
    height: auto;
    background-color: #0f0f0f;
    padding: 4%;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card a {
    text-decoration: none;
}

.card img {
    justify-content: center;
    align-items: center;
}

.card:after {
    content: '';
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover:after {
    width: 225%;
    top: -100%;
}



.card p {
   text-align: center;
    margin: 12px 0px;
}

.card:hover {
    background-color: transparent;
    transform: translateY(-8px);
    border-color: black;
}

@media screen and (max-width: 1200px) {
    .cards {
        flex-wrap: nowrap; 
    }
}

@media screen and (max-width: 900px) {
    .cards {
        flex-wrap: nowrap; 
    }

    .service h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        gap: 20px;
    }
  
    .card {
        width: 100%;
    }
}



